.build/*
npm-debug.log
logs/*
node_modules/*
.idea/*
config/*
start.sh
dev.sh
.remote-sync.json
tmp/*
.vscode
reports/*
coverage
.DS_Store
.npmrc
.env
storybook-static
build-storybook.log
doctor-storybook.log